body {
    font-family: 'Poppins', sans-serif; 
    margin: 20px;
}

#network {
    width: 800px;
    height: 600px;
    border: 1px solid lightgray;
}


table {
    width: 100%; /* Ancho completo */
    border-collapse: collapse; /* Eliminar espacios entre bordes */
    margin: 20px 0; /* Espaciado arriba y abajo */
    font-family: Arial, sans-serif; /* Fuente más legible */
}

th, td {
    padding: 12px; /* Espaciado interno */
    text-align: center; /* Centrar texto */
    border: 1px solid #ddd; /* Bordes ligeros */
}

th {
    background-color: #4CAF50; /* Color de fondo del encabezado */
    color: white; /* Color de texto del encabezado */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo para filas pares */
}

tr:hover {
    background-color: #ddd; /* Color al pasar el ratón sobre la fila */
}

h3 {
    color: #333; /* Color del encabezado de la tabla */
}
